.head {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #010d17;
}
.head-baoxue {
  position: absolute;
  left: 189px;
  top: 4px;
  width: 82px;
  height: 30px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -17px -79px;
}
.game {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.game p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -35px;
  margin-top: 1px;
}
.shangcheng p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 40px;
  margin-top: 1px;
}
.shangcheng {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.xinwen p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 98px;
  margin-top: 1px;
}
.xinwen {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.dianjing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 535px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.dianjing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -60px;
  margin-top: 1px;
}
.jianianhua p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: 262px;
  margin-top: 1px;
}
.jianianhua {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.head p:hover {
  color: #ffffff;
}
.tongxing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 209px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.tongxing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.zhichi {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 270px;
}
.zhichi p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.Navbar-modalContent {
  background-color: #151922;
  width: 1900px;
  height: 210px;
  z-index: 1;
  position: fixed;
  display: none;
  z-index: 99999;
}
.Navbar-modalContent a {
  position: absolute;
  float: left;
  width: 150px;
  height: 180px;
  animation-name: Navbar-dropdown-drop-in-delayed;
  animation-duration: 0.6s;
}
.Navbar-modalContent a img {
  position: absolute;
  float: left;
  width: 160px;
  height: 180px;
  margin-left: 20px;
}
.Navbar-modalContent .nav1 {
  position: absolute;
  top: 0;
  left: 170px;
  animation-delay: -400ms;
}
.Navbar-modalContent .nav2 {
  position: absolute;
  top: 0;
  left: 350px;
  animation-delay: -350ms;
}
.Navbar-modalContent .nav3 {
  position: absolute;
  top: 0;
  left: 530px;
  animation-delay: -300ms;
}
.Navbar-modalContent .nav4 {
  position: absolute;
  top: 0;
  left: 710px;
  animation-delay: -250ms;
}
.Navbar-modalContent .nav5 {
  position: absolute;
  top: 0;
  left: 890px;
  animation-delay: -200ms;
}
.Navbar-modalContent .nav6 {
  position: absolute;
  top: 0;
  left: 1070px;
  animation-delay: -150ms;
}
.Navbar-modalContent .nav7 {
  position: absolute;
  top: 0;
  left: 1250px;
  animation-delay: -100ms;
}
.Navbar-modalContent .nav8 {
  position: absolute;
  top: 0;
  left: 1430px;
  animation-delay: -50ms;
}
.Navbar-modalContent .nav9 {
  position: absolute;
  top: 0;
  left: 1610px;
  animation-delay: -0s;
}
@keyframes Navbar-dropdown-drop-in-delayed {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  66.66667% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 第一屏 */
.g-module-1-bg {
  background: url(../images/oneping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
}
.g-module-1-bg {
  animation: bg1 16s;
}
@keyframes bg1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
