.head {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #2c0903;
  margin-top: 40px;
  z-index: 500;
}
.head-baoxue {
  position: absolute;
  left: 189px;
  top: 4px;
  width: 82px;
  height: 30px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -17px -79px;
}
.game {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.game p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -35px;
  margin-top: 1px;
}
.shangcheng p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 40px;
  margin-top: 1px;
}
.shangcheng {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.xinwen p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 98px;
  margin-top: 1px;
}
.xinwen {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.dianjing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 535px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.dianjing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -60px;
  margin-top: 1px;
}
.jianianhua p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: 262px;
  margin-top: 1px;
}
.jianianhua {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.head p:hover {
  color: #ffffff;
}
.tongxing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 209px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.tongxing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.zhichi {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 270px;
}
.zhichi p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.Navbar-modalContent {
  margin-top: 40px;
  background-color: #151922;
  width: 1900px;
  height: 210px;
  z-index: 1;
  position: fixed;
  display: none;
  z-index: 99999;
}
.Navbar-modalContent a {
  position: absolute;
  float: left;
  width: 150px;
  height: 180px;
  animation-name: Navbar-dropdown-drop-in-delayed;
  animation-duration: 0.6s;
}
.Navbar-modalContent a img {
  position: absolute;
  float: left;
  width: 160px;
  height: 180px;
  margin-left: 20px;
}
.Navbar-modalContent .nav1 {
  position: absolute;
  top: 0;
  left: 170px;
  animation-delay: -400ms;
}
.Navbar-modalContent .nav2 {
  position: absolute;
  top: 0;
  left: 350px;
  animation-delay: -350ms;
}
.Navbar-modalContent .nav3 {
  position: absolute;
  top: 0;
  left: 530px;
  animation-delay: -300ms;
}
.Navbar-modalContent .nav4 {
  position: absolute;
  top: 0;
  left: 710px;
  animation-delay: -250ms;
}
.Navbar-modalContent .nav5 {
  position: absolute;
  top: 0;
  left: 890px;
  animation-delay: -200ms;
}
.Navbar-modalContent .nav6 {
  position: absolute;
  top: 0;
  left: 1070px;
  animation-delay: -150ms;
}
.Navbar-modalContent .nav7 {
  position: absolute;
  top: 0;
  left: 1250px;
  animation-delay: -100ms;
}
.Navbar-modalContent .nav8 {
  position: absolute;
  top: 0;
  left: 1430px;
  animation-delay: -50ms;
}
.Navbar-modalContent .nav9 {
  position: absolute;
  top: 0;
  left: 1610px;
  animation-delay: -0s;
}
@keyframes Navbar-dropdown-drop-in-delayed {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  66.66667% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 第一屏 */
.g-module-1-bg {
  background: url(../images/oneping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
}
.g-module-1-bg {
  animation: bg1 16s;
}
@keyframes bg1 {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.g-module-1-con {
  background: url(../images/oneping1.png) no-repeat 0 0;
  height: 100%;
  left: 50%;
  margin-left: -960px;
  position: absolute;
  top: 0;
  width: 1920px;
  z-index: 1;
}
.m-con {
  position: relative;
  width: 72.1875em;
  margin: 0 auto;
  height: 100%;
}
.m-con h1 {
  height: 139px;
  left: 25px;
  position: absolute;
  top: 26px;
  width: 264px;
  background: url(../images/oneping2.png) no-repeat 50% 0;
}
.m-con h1 a {
  display: block;
  height: 100%;
  text-indent: -999em;
  width: 100%;
}
.top-nav {
  padding-top: 60px;
  font-size: 12px;
}
.top-nav .share {
  float: right;
  width: 300px;
}
.share li.sharetip {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #ffffff;
  margin-left: 125px;
}
.share1 {
  position: absolute;
  left: 740px;
  top: 60px;
  float: left;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  background: url(../images/oneping3.png) no-repeat 0 0;
  background-position: -60px -56px;
}
.share2 {
  position: absolute;
  left: 775px;
  top: 60px;
  float: left;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  background: url(../images/oneping3.png) no-repeat 0 0;
  background-position: -122px -56px;
}
.share3 {
  position: absolute;
  left: 810px;
  top: 60px;
  float: left;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  background: url(../images/oneping3.png) no-repeat 0 0;
  background-position: -153px -56px;
}
.share4 {
  position: absolute;
  left: 600px;
  top: 60px;
  width: 85px;
  height: 23px;
  background: url(../images/oneping3.png) no-repeat 0 0;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}
.share5 {
  position: absolute;
  left: 500px;
  top: 60px;
  width: 85px;
  height: 23px;
  background: url(../images/oneping3.png) no-repeat 0 0;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}
.slogan {
  width: 705px;
  height: 265px;
  margin: 10em auto 0;
}
.slogan img {
  width: 100%;
}
.m-download {
  width: 700px;
  height: 265px;
  text-align: center;
  margin: 20px auto 0;
}
.m-download h3 {
  font-size: 20px;
  background: url(../images/oneping3.png) no-repeat 0 -540px;
  height: 38px;
  line-height: 35px;
  margin-bottom: 17px;
  color: #ffffff;
}
.beta {
  background: url(../images/oneping3.png) no-repeat 0 -916px;
  width: 64px;
  height: 20px;
  display: inline-block;
  text-indent: -999em;
  vertical-align: middle;
}
.m-download .app {
  background: url(../images/oneping3.png) no-repeat 0 -148px;
  width: 168px;
  float: left;
  margin: 0 17px 0 160px;
}
.m-download .app p {
  padding-top: 175px;
  text-shadow: 0 2px 2px #000;
  font-size: 16px;
  color: #ffffff;
}
.m-download .ios {
  background: url(../images/oneping3.png) no-repeat 0 -366px;
  width: 200px;
  height: 58px;
  float: left;
  margin: 15px 0 22px 0;
}
.m-download .android {
  background: url(../images/oneping3.png) no-repeat 0 -444px;
  width: 200px;
  height: 60px;
  float: left;
  margin-bottom: 19px;
}
.m-download .text {
  width: 200px;
  float: left;
  text-shadow: 0 2px 2px #000;
  font-size: 16px;
  color: #ffffff;
}
/* 第二屏 */
.g-module-2 {
  background: url(../images/twoping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scale(1.1); */
  background-color: #454d4f;
}
.txt1 {
  margin: 37.5em 0 0 31.5625em;
  position: absolute;
  left: -200px;
  top: 155px;
}
.phone1 {
  margin: 6.25em 0 0 -2.8125em;
  width: 29.875em;
  position: absolute;
  left: -155px;
  top: 250px;
}

/* 第三屏 */
.g-module-3 {
  background: url(../images/threeping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scale(1.1); */
  background-color: #040301;
}
.phone2 {
  position: absolute;
  left: 0;
  top: 160px;
  margin: 6.25em 0 0 43.4em;
  width: 29.875em;
}
.txt2 {
  position: absolute;
  left: -20px;
  top: 410px;
  margin: 14.5em 0 0 1.4em;
  width: 30.8125em;
}
/* 第四屏 */
.g-module-4 {
  background: url(../images/fourping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scale(1.1); */
  background-color: #05020c;
}
.phone3 {
  position: absolute;
  left: -210px;
  top: 650px;
  margin: 14.5em 0 0 1.4em;
  width: 30.8125em;
}
.txt3 {
  position: absolute;
  left: -430px;
  top: -190px;
  margin: 36.25em 0 0 -1.9em;
  width: 56.875em;
}
/* 第五屏 */
.g-module-5 {
  background: url(../images/fiveping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: scale(1.1); */
  background-color: #250f04;
}
.phone4 {
  position: absolute;
  left: 0px;
  top: 200px;
  margin: 29.3em 0 0 40.1em;
  width: 29.875em;
}
.txt4 {
  position: absolute;
  left: 250px;
  top: 0px;
  margin: 10.2em 0 0 41.6em;
  width: 30.8125em;
}
/* 右下角悬浮窗 */
.xuanfuchuang {
  position: absolute;
  width: 50px;
  height: 50px;
}
.xuanfuchuang .guanchajian {
  z-index: 5;
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 370px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
}
.xuanfuchuang .xuanfuchuangma {
  z-index: 5;
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 280px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  transition: all 1s;
  background-image: url("../images/fanzhuan.png");
}
.box {
  z-index: 5;
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 280px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  transition: all 1s;
  transform: rotateYX(180deg);
  background-image: url("../images/fanzhuan1.png");
}
.xuanfuchuang .xuanfuchuangweibo {
  z-index: 5;
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 190px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
}

.xuanfuchuang .gotop {
  z-index: 5;
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  display: none;
}
/* 底部 */
.foot {
  position: absolute;
  bottom: 0px;
  width: 1920px;
  height: 471px;
  background-image: url(../images/3_v2015_layout_footer.jpg);
}
.kefu {
  left: 450px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -4px -7px;
}
.kefu p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.fankui {
  left: 580px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -34px -7px;
}
.fankui p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.jiaru {
  left: 680px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -5px -33px;
}
.jiaru p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}

.hezuo {
  left: 1150px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
}
.hezuo p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.xianka {
  left: 1270px;
  top: 70px;
  position: absolute;
  width: 100px;
  height: 20px;
  background: url(../images/3_common_business-logo.png);
  background-position: -350px -27px;
}
.xianka p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 120px;
  margin-top: 1px;
}
.lscs img {
  position: absolute;
  bottom: 120px;
  left: 445px;
}
.wangyi img {
  position: absolute;
  bottom: 200px;
  left: 590px;
}
.yinsi p {
  position: absolute;
  font-size: 14px;
  color: #ffffff;
  bottom: 260px;
  right: 950px;
}
.banquan {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 195px;
  right: 358px;
}
.jing img {
  position: relative;
  float: left;
  left: -640px;
  bottom: -300px;
}
.jing p {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 150px;
  right: 645px;
}
.cha p {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 100px;
  right: 500px;
}

.dianji {
  position: relative;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.dianji img {
  position: absolute;
  left: 1470px;
  bottom: -123px;
  width: 16px;
  height: 16px;
}
.xianshi {
  background-color: #1f1009;
  position: absolute;
  width: 777px;
  height: 65px;
  left: 710px;
  bottom: -200px;
  display: none;
}
.xianshi p {
  color: #b5a89f;
  float: left;
  margin-left: 50px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi b {
  color: #b5a89f;
  float: left;
  margin-left: 65px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi a {
  color: #ea8631;
  float: left;
  margin-left: 435px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi p:hover {
  color: #ffffff;
}
/* 第六屏 */
.g-module-6 {
  background: url(../images/fiveping.jpg) no-repeat 50% 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #250f04;
}
.g-download {
  display: block;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: url(../images/sixping.png) repeat 0 0;
  width: 100%;
  padding-top: 20px;
}
.g-download .m-download {
  margin: 0 auto;
  position: relative;
  width: 700px;
  height: 220px;
}
.m-download h4 {
  color: #ffffff;
  position: absolute;
  display: block;
  left: -300px;
  top: 60px;
  font-size: 16px;
  background: url(../images/oneping3.png) no-repeat 0 -598px;
  height: 80px;
  padding: 10px 0 0 120px;
}
.g-download .m-download h4 p {
  font-size: 28px;
  font-weight: 800;
  color: #e1d0a9;
}
.g-download .m-download .close {
  background: url(../images/oneping3.png) no-repeat 2px -707px;
  display: block;
  position: absolute;
  right: 50px;
  top: -15px;
  width: 33px;
  font-size: 14px;
  padding-top: 35px;
  color: #e1d0aa;
}
