html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 3500px;
}
body {
  background: url(../images/homebackgrongd.jpg) no-repeat 50% 0 fixed;
  background-color: #ead5aa;
}
/* 导航栏 */
.head {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #2c0903;
}
.head-baoxue {
  position: absolute;
  left: 189px;
  top: 4px;
  width: 82px;
  height: 30px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -17px -79px;
}
.game {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.game p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -35px;
  margin-top: 1px;
}
.shangcheng p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 40px;
  margin-top: 1px;
}
.shangcheng {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.xinwen p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: 98px;
  margin-top: 1px;
}
.xinwen {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.dianjing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 535px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.dianjing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 70px;
  height: 30px;
  margin-left: -60px;
  margin-top: 1px;
}
.jianianhua p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: 262px;
  margin-top: 1px;
}
.jianianhua {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 317px;
}
.head p:hover {
  color: #ffffff;
}
.tongxing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 209px;
  background: url(../images/1_fsbnet_icon-sprite.png);
  background-position: -142px -124px;
}
.tongxing p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.zhichi {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 270px;
}
.zhichi p {
  font-size: 15px;
  color: #c0b6b4;
  width: 80px;
  height: 30px;
  margin-left: -73px;
  margin-top: 1px;
}
.search input {
  position: absolute;
  right: 0;
  top: 130px;
  background: #29252e;
  background: rgba(58, 58, 58, 0.3);
  border: 1px solid #8bb6ad;
  color: #8bb6ad;
  font-size: 14px;
  height: 42px;
  line-height: 26px;
  padding: 7px 40px 7px 10px;
  width: 250px;
}
.search a {
  background-image: url(../images/homesousuo.png);
  background-repeat: no-repeat;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 138px;
  width: 25px;
}
/*  tab切换栏*/
#navWrap {
  height: 52px;
  position: absolute;
  left: 50%;
  margin-left: -512px;
  top: 223px;
  width: 1024px;
  z-index: 234;
}
#nav {
  background: url(../images/home-tab.jpg) no-repeat 3px 0;
  width: 963px;
  height: 52px;
  position: relative;
  padding-left: 53px;
  box-sizing: content-box;
}
#nav > li {
  float: left;
  width: 117px;
  height: 52px;
  position: relative;
  box-sizing: inherit;
}
#nav li.nav2 a {
  background-position: -51px 0;
}
#nav li.nav2 {
  background: url(../images/home-tab.jpg);
  background-position: -50px 0px;
}
#nav li.nav2:hover {
  background-position: -50px -52px;
}
#nav li a {
  display: block;
  height: 100%;
  position: relative;
  background-image: url(../images/home-tab.jpg);
  background-repeat: no-repeat;
}
#nav ul {
  position: absolute;
  left: 0;
  top: 46px;
  display: none;
}
#nav ul a {
  color: #cd998e;
  font-size: 14px;
  padding-left: 20px;
  background: #4d0908;
  background: rgba(77, 9, 8, 0.95);
}
a {
  color: #db6800;
  text-decoration: none;
  outline: 0;
}
#nav ul li {
  width: 117px;
  height: 34px;
  line-height: 32px;
  position: relative;
}
#nav .new {
  border-image: url(../images/new.png) 6 fill/auto;
  border-style: solid;
  border-width: 2px 15px;
  display: block;
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  text-shadow: #000 2px 0 0, #000 1.75517px 0.95885px 0,
    #000 1.0806px 1.68294px 0, #000 0.14147px 1.99499px 0,
    #000 -0.83229px 1.81859px 0, #000 -1.60229px 1.19694px 0,
    #000 -1.97998px 0.28224px 0, #000 -1.87291px -0.70157px 0,
    #000 -1.30729px -1.5136px 0, #000 -0.42159px -1.95506px 0,
    #000 0.56732px -1.91785px 0, #000 1.41734px -1.41108px 0,
    #000 1.92034px -0.55883px 0;
}
/* 当鼠标触碰的时候 精灵图位置改变 */
#nav ul .new {
  transform: translateX(51px);
  border-width: 1px 15px 3px;
  top: 5px;
}
#nav .nav3 ul .new {
  transform: translateX(26px);
}
#nav li.nav3 {
  background: url(../images/home-tab.jpg);
  background-position: -167px 0px;
}
#nav li.nav3:hover {
  background-position: -167px -52px;
}
#nav li.nav4 {
  background: url(../images/home-tab.jpg);
  background-position: -284px 0px;
}
#nav li.nav4:hover {
  background-position: -284px -52px;
}
#nav li.nav5 {
  background: url(../images/home-tab.jpg);
  background-position: -402px 0px;
}
#nav li.nav5:hover {
  background-position: -402px -52px;
}
#nav li.nav6 {
  background: url(../images/home-tab.jpg);
  background-position: -519px 0px;
}
#nav li.nav6:hover {
  background-position: -519px -52px;
}
#nav li.nav7 {
  background: url(../images/home-tab.jpg);
  background-position: -637px 0px;
}
#nav li.nav7:hover {
  background-position: -637px -52px;
}
#nav li.nav8 {
  background: url(../images/home-tab.jpg);
  background-position: -754px 0px;
}
#nav li.nav8:hover {
  background-position: -754px -52px;
}
#nav li.nav9 {
  background: url(../images/home-tab.jpg);
  background-position: -871px 0px;
}
#nav li.nav9:hover {
  background-position: -871px -52px;
}
.home-tab1 {
  position: absolute;
  left: 420px;
  top: 254px;
  width: 75px;
  height: 75px;
  z-index: 101;
}
.home-tab1 p {
  left: -450px;
  top: -278px;
  position: absolute;
  width: 89px;
  height: 110px;
  background: url(../images/home-tab-1.png);
  background-position: -10px -23px;
  z-index: 2;
}
.home-tab1 b {
  left: -450px;
  top: -272px;
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../images/home-tab-1.png);
  background-position: -167px -35px;
  z-index: 2;
}
.home-tab1 a {
  left: -440px;
  top: -273px;
  margin-left: 1000px;
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../images/home-tab-1.png);
  background-position: -260px 12px;
  z-index: 2;
}
/* 主题栏 */
.lunbotu {
  position: relative;
  margin-top: 98px;
  width: 700px;
  height: 2730px;
  background: url(../images/homebackgroundpng.png);
}
.lunboyou {
  position: absolute;
  right: -315px;
  top: 0;
}
/* 主题栏小怪兽 */
.lunboyou p {
  position: absolute;
  background: url(../images/lunboyou1.png);
  background-size: 162px 162px;
  width: 162px;
  height: 162px;
  left: 20px;
  bottom: -20px;
  z-index: 233;
}
.lunboyou q {
  position: absolute;
  background: url(../images/lunboshang.png);
  background-size: 265px 170px;
  width: 265px;
  height: 170px;
  left: 26px;
  top: 0px;
}
.lunboyou b {
  position: absolute;
  background: url(../images/chibangzuo.png);
  background-size: 110px 60px;
  width: 110px;
  height: 60px;
  left: -10px;
  bottom: 94px;
  animation: Wingleft 2s alternate infinite;
}
/* 小怪兽翅膀尾巴加动画 */
@keyframes Wingleft {
  0% {
    transform: matrix3d(
      0.999024,
      -0.0441705,
      0,
      0,
      0.0441705,
      0.999024,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }

  100% {
    transform: matrix3d(
      0.999194,
      0.0401455,
      0,
      0,
      -0.0401455,
      0.999194,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
}
.lunboyou i {
  position: absolute;
  background: url(../images/chibanyou.png);
  background-size: 75px 85px;
  width: 75px;
  height: 85px;
  left: 120px;
  bottom: 45px;
  animation: Wingright 2s alternate infinite;
}
@keyframes Wingright {
  0% {
    transform: matrix3d(
      0.999024,
      0.0441705,
      0,
      0,
      -0.0441705,
      0.999024,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }

  100% {
    transform: matrix3d(
      0.999194,
      -0.0401455,
      0,
      0,
      0.0401455,
      0.999194,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
}
.lunboyou u {
  position: absolute;
  background: url(../images/weiba.png);
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  left: 15px;
  bottom: 43px;
  animation: tail 2s alternate infinite;
}
@keyframes tail {
  0% {
    transform: matrix3d(
      0.990943,
      0.134283,
      0,
      0,
      -0.134283,
      0.990943,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }

  100% {
    transform: matrix3d(
      0.996596,
      -0.0824464,
      0,
      0,
      0.0824464,
      0.996596,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
}
/* 下载类型 */
.lunboyou.download {
  width: 297px;
  height: 228px;
  padding-top: 80px;
  position: absolute;
  top: 130px;
  left: 18px;
}
.deviceIcon li {
  float: left;
  position: relative;
}
.deviceIcon li a.pc {
  position: absolute;
  left: 50px;
  top: 208px;
  width: 80px;
  height: 90px;
  display: block;
  background: url(../images/xiazai.png) no-repeat;
  background-position: 0px -87px;
}
/* 碰到下载图标时候 精灵图改变位置 */
.deviceIcon li a.pc:hover {
  background-position: 0px 0px;
}
.deviceIcon li a.ios {
  position: absolute;
  left: 130px;
  top: 208px;
  width: 80px;
  height: 90px;
  display: block;
  background: url(../images/xiazai.png) no-repeat;
  background-position: -80px -87px;
}
/* 碰到下载图标时候 精灵图改变位置 */
.deviceIcon li a.ios:hover {
  background-position: -80px 0px;
}
.deviceIcon li a.android {
  position: absolute;
  left: 210px;
  top: 208px;
  width: 80px;
  height: 90px;
  display: block;
  background: url(../images/xiazai.png) no-repeat;
  background-position: -160px -87px;
}
/* 碰到下载图标时候 精灵图改变位置 */
.deviceIcon li a.android:hover {
  background-position: -160px 0px;
}
/* 下载方式和官方插件 */

.features a.downloadBtn {
  position: absolute;
  width: 220px;
  height: 63px;
  display: block;
  top: 320px;
  left: 60px;
  z-index: 0;
  overflow: hidden;
  background: url(../images/chajianxiazai.png) no-repeat -29px -365px;
  /* display: none; */
}
.features a.downloadBtnpc {
  position: absolute;
  width: 220px;
  height: 63px;
  display: block;
  top: 385px;
  left: 60px;
  z-index: 0;
  overflow: hidden;
  background: url(../images/chajianxiazai.png) no-repeat -29px -365px;
  background-position: -29px -480px;
  /* display: none; */
}

/* 悬浮的石头 */
.xuanfu {
  position: absolute;
  width: 183px;
  height: 270px;
}
.xuanfu p {
  position: fixed;
  left: 120px;
  top: 500px;
  width: 183px;
  height: 270px;
  background: url(../images/backgrongd-left.png);
  animation: titleBeat 3s linear infinite;
}
@keyframes titleBeat {
  0% {
    top: 470px;
  }
  50% {
    top: 500px;
  }
  100% {
    top: 470px;
  }
}
.xuanfu b {
  position: fixed;
  left: 1520px;
  top: 360px;
  width: 317px;
  height: 522px;
  background: url(../images/backgrongd-right.png);
  animation: xuanfuright 3s linear infinite;
}
@keyframes xuanfuright {
  0% {
    top: 320px;
  }
  50% {
    top: 360px;
  }
  100% {
    top: 320px;
  }
}
/* 点击改变iospc精灵图 */
.pc.actives {
  background-position-y: -177px !important;
}
.ios.actives {
  background-position-y: -177px !important;
}
.android.actives {
  background-position-y: -177px !important;
}
/* ios下载按钮 */
.features a.downloadBtnios {
  position: absolute;
  width: 220px;
  height: 63px;
  display: block;
  top: 320px;
  left: 60px;
  z-index: 0;
  overflow: hidden;
  background: url(../images/chajianxiazai.png) no-repeat -29px -40px;
  display: none;
}
.features a.downloadBtnios-pc {
  position: absolute;
  width: 220px;
  height: 63px;
  display: block;
  top: 385px;
  left: 60px;
  z-index: 0;
  overflow: hidden;
  background: url(../images/chajianxiazai.png) no-repeat -29px -365px;
  background-position: -29px -144px;
  display: none;
}
.features a.downloadBtnandroid {
  position: absolute;
  width: 220px;
  height: 63px;
  display: block;
  top: 320px;
  left: 60px;
  z-index: 0;
  overflow: hidden;
  background: url(../images/chajianxiazai.png) no-repeat -29px -244px;
  display: none;
}
/* 轮播图下面的新闻 */
.caidan p {
  left: 50px;
  top: 355px;
  position: absolute;
  width: 308px;
  height: 211px;
  background: url(../images/caidanbeijing.png);
}
.caidan img {
  position: absolute;
  width: 284px;
  height: 144px;
  left: 12px;
  top: 15px;
}
.caidan b {
  position: absolute;
  color: #2e1b1e;
  font-size: 16px;
  left: 60px;
  top: 175px;
}
.caidan1 p {
  left: 50px;
  top: 355px;
  position: absolute;
  width: 308px;
  height: 211px;
  background: url(../images/caidanbeijing.png);
}
.caidan1 img {
  position: absolute;
  width: 284px;
  height: 144px;
  left: 12px;
  top: 15px;
}
.caidan1 b {
  position: absolute;
  color: #2e1b1e;
  font-size: 16px;
  left: 60px;
  top: 175px;
}
.caidan1 {
  position: absolute;
  left: 315px;
  top: 0;
}
.caidan {
  position: absolute;
  left: -15px;
  top: 0;
}
.caidan img:hover {
  border: 2px solid #76b900;
}
.caidan1 img:hover {
  border: 2px solid #76b900;
}
/* 新闻之间的间隔 */
.jiange {
  position: absolute;
  left: 30px;
  top: 562px;
}
/* 新闻 */
.new1 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 625px;
}
.new1:hover {
  background-color: rgba(226, 194, 151);
}
.new1 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new1 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new1 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第二个新闻 */
.jiange1 {
  position: absolute;
  left: 30px;
  top: 745px;
}
.new2 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 780px;
}
.new2:hover {
  background-color: rgba(226, 194, 151);
}
.new2 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new2 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new2 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}

/* 第三个新闻 */
.jiange2 {
  position: absolute;
  left: 30px;
  top: 900px;
}
.new3 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 935px;
}
.new3:hover {
  background-color: rgba(226, 194, 151);
}
.new3 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new3 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new3 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment1 {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -310px -280px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment1:hover {
  background-position: -310px -310px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第四个新闻 */
.jiange3 {
  position: absolute;
  left: 30px;
  top: 1050px;
}
.new4 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1090px;
}
.new4:hover {
  background-color: rgba(226, 194, 151);
}
.new4 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new4 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new4 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第五个新闻 */
.jiange4 {
  position: absolute;
  left: 30px;
  top: 1200px;
}
.new5 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1245px;
}
.new5:hover {
  background-color: rgba(226, 194, 151);
}
.new5 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new5 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new5 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第六个新闻 */
.jiange5 {
  position: absolute;
  left: 30px;
  top: 1360px;
}
.new6 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1400px;
}
.new6:hover {
  background-color: rgba(226, 194, 151);
}
.new6 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new6 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new6 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第七个新闻 */
.jiange6 {
  position: absolute;
  left: 30px;
  top: 1520px;
}
.new7 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1555px;
}
.new7:hover {
  background-color: rgba(226, 194, 151);
}
.new7 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new7 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new7 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第八个新闻 */
.jiange7 {
  position: absolute;
  left: 30px;
  top: 1680px;
}
.new8 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1710px;
}
.new8:hover {
  background-color: rgba(226, 194, 151);
}
.new8 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new8 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new8 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第九个新闻 */
.jiange8 {
  position: absolute;
  left: 30px;
  top: 1840px;
}
.new9 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 1865px;
}
.new9:hover {
  background-color: rgba(226, 194, 151);
}
.new9 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new9 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new9 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第10个新闻 */
.jiange9 {
  position: absolute;
  left: 30px;
  top: 1990px;
}
.new10 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 2020px;
}
.new10:hover {
  background-color: rgba(226, 194, 151);
}
.new10 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new10 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new10 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第11个新闻 */
.jiange10 {
  position: absolute;
  left: 30px;
  top: 2145px;
}
.new11 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 2175px;
}
.new11:hover {
  background-color: rgba(226, 194, 151);
}
.new11 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new11 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new11 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第12个新闻 */
.jiange11 {
  position: absolute;
  left: 30px;
  top: 2300px;
}
.new12 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 2330px;
}
.new12:hover {
  background-color: rgba(226, 194, 151);
}
.new12 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new12 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new12 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
/* 第13个新闻 */
.jiange12 {
  position: absolute;
  left: 30px;
  top: 2450px;
}
.new13 {
  position: absolute;
  width: 630px;
  left: 20px;
  top: 2480px;
}
.new13:hover {
  background-color: rgba(226, 194, 151);
}
.new13 a {
  margin-left: 30px;
  display: block;
  position: relative;
  width: 605px;
  height: 100px;
}
.new13 a img {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100px;
  padding: 1px;
  background: #fee0b9;
  border: 1px solid #b7894c;
}
.new13 img:hover {
  border: 2px solid #76b900;
}
.new a h4 {
  margin-left: 220px;
  color: #150603;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.new a p {
  margin-top: 5px;
  margin-left: 219px;
  font-size: 14px;
  color: #695745;
  height: 38px;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 20px;
}
.homeNewsComment {
  position: absolute;
  bottom: -100px;
  left: 230px;
}
.iconComment {
  position: absolute;
  width: 18px;
  height: 19px;
  background: url(../images/new.ico);
  background-position: -80px -112px;
  margin-right: 2px;
  margin-top: -15px;
}
.homeNewsComment span a span.iconComment:hover {
  background-position: -80px -130px;
}
.commentNum {
  color: #d25300;
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  margin-top: -23px;
}
.time {
  color: #666;
  position: absolute;
  top: -10px;
  left: 110px;
}
.jiange13 {
  position: absolute;
  left: 30px;
  top: 2600px;
}
/* 底部的图片 */
.jiange13 .backgroundbottom {
  position: absolute;
  left: -30px;
  top: 110px;
}
.jiange13 div {
  margin-top: 25px;
  position: relative;
  background-color: #d3b78b;
  width: 640px;
  height: 40px;
}
.jiange13 div:hover {
  background-color: #c3a473;
}
.jiange13 a {
  margin-left: 280px;
  font-size: 16px;
  color: #5b4b38;
  line-height: 40px;
}
.jiange13 i {
  position: absolute;
  top: 17px;
  left: 355px;
  width: 10px;
  height: 10px;
  background: url(../images/xiaosanjiao.png) no-repeat;
}
/* 底部 */
.foot {
  position: relative;
  bottom: -200px;
  width: 100%;
  height: 471px;
  background-image: url(../images/3_v2015_layout_footer.jpg);
}
.kefu {
  left: 450px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -4px -7px;
}
.kefu p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.fankui {
  left: 580px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -34px -7px;
}
.fankui p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.jiaru {
  left: 680px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/3_common_f-business.png);
  background-position: -5px -33px;
}
.jiaru p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}

.hezuo {
  left: 1150px;
  top: 70px;
  position: absolute;
  width: 20px;
  height: 20px;
}
.hezuo p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 25px;
  margin-top: 1px;
}
.xianka {
  left: 1270px;
  top: 70px;
  position: absolute;
  width: 100px;
  height: 20px;
  background: url(../images/3_common_business-logo.png);
  background-position: -350px -27px;
}
.xianka p {
  font-size: 14px;
  color: #ffffff;
  width: 70px;
  height: 30px;
  margin-left: 120px;
  margin-top: 1px;
}
.lscs img {
  position: absolute;
  bottom: 120px;
  left: 445px;
}
.wangyi img {
  position: absolute;
  bottom: 200px;
  left: 590px;
}
.yinsi p {
  position: absolute;
  font-size: 14px;
  color: #ffffff;
  bottom: 260px;
  right: 950px;
}
.banquan {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 195px;
  right: 358px;
}
.jing img {
  position: relative;
  float: left;
  left: -640px;
  bottom: -300px;
}
.jing p {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 150px;
  right: 645px;
}
.cha p {
  position: absolute;
  font-size: 14px;
  color: #552c09;
  bottom: 100px;
  right: 500px;
}

.dianji {
  position: relative;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
}
.dianji img {
  position: absolute;
  left: 1470px;
  bottom: 383px;
  width: 16px;
  height: 16px;
}
.xianshi {
  background-color: #1f1009;
  position: absolute;
  width: 777px;
  height: 65px;
  left: 710px;
  bottom: 300px;
  display: none;
}
.xianshi p {
  color: #b5a89f;
  float: left;
  margin-left: 50px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi b {
  color: #b5a89f;
  float: left;
  margin-left: 65px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi a {
  color: #ea8631;
  float: left;
  margin-left: 435px;
  font-size: 14px;
  margin-top: 10px;
}
.xianshi p:hover {
  color: #ffffff;
}
.zhuce {
  position: absolute;
  left: 790px;
  top: -30px;
  background: url(../images/backgrongdzhuce.png) no-repeat;
  width: 360px;
  height: 70px;
}
.zhuce p {
  position: absolute;
  left: 47px;
  top: 6px;
  width: 260px;
  height: 80px;
  background: url(../images/zhuce.png) no-repeat;
  background-position: 0px 0px;
}
.zhuce p:hover {
  background-position: 0px -83px;
}
/* 右下角悬浮窗 */
.xuanfuchuang {
  position: absolute;
  width: 50px;
  height: 50px;
}
.xuanfuchuang .guanchajian {
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 370px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
}
.xuanfuchuang .xuanfuchuangma {
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 280px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  transition: all 1s;
  background-image: url("../images/fanzhuan.png");
}
.box {
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 280px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  transition: all 1s;
  transform: rotateYX(180deg);
  background-image: url("../images/fanzhuan1.png");
}
.xuanfuchuang .xuanfuchuangweibo {
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 190px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
}

.xuanfuchuang .gotop {
  background-color: rgba(96, 52, 18, 0.6);
  position: fixed;
  right: 30px;
  width: 82px;
  height: 82px;
  bottom: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 82px;
  font-size: 15px;
  color: #ffb100;
  font-weight: 700;
  display: none;
}

/* 右侧新闻栏 */
.youcexinwen {
  position: absolute;
  top: 590px;
  right: -14px;
  width: 340px;
  height: 1850px;
  background: url(../images/youbeijing.png);
}
/* 第一个新闻 */
.younew1 {
  z-index: 99;
  position: absolute;
  right: 20px;
  top: 45px;
  width: 305px;
  height: 216px;
  background: url(../images/backgroundyouce.jpg) no-repeat;
}
.younew1 .younewtubiao {
  position: absolute;
  left: 15px;
  top: 33px;
  background-image: url(../images/new.ico);
  background-position: -88px -3px;
  width: 30px;
  height: 30px;
}
.younew1 h3 {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #03345f;
}
.younew1b {
  position: absolute;
  top: 85px;
  left: 27px;
}
.younew1b .chonghe {
  position: absolute;
}
.younew1b .chonghe1 {
  position: absolute;
}
.younew1b .chonghe1:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.younew1b .xiabiaoti {
  position: absolute;
  top: 145px;
  left: 23px;
  width: 200px;
  font-size: 16px;
  color: #251c0f;
  text-align: center;
  font-weight: 700;
}
/* 第二个新闻 */
.younew2 {
  position: absolute;
  right: 20px;
  top: 350px;
  width: 305px;
  height: 216px;
  background: url(../images/backgroundyouce.jpg) no-repeat;
}
.younew2 .younewtubiao {
  position: absolute;
  left: 15px;
  top: 33px;
  background-image: url(../images/new.ico);
  background-position: -46px -73px;
  width: 30px;
  height: 30px;
}
.younew2 h3 {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #03345f;
}
/* 第一条文字 */
.iconyousj {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 84px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep {
  position: absolute;
  top: 85px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第二条文字 */
.iconyousj1 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 110px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep1 {
  position: absolute;
  top: 110px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第三条文字 */
.iconyousj2 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 135px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep2 {
  position: absolute;
  top: 135px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第四条文字 */
.iconyousj3 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 160px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep3 {
  position: absolute;
  top: 160px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
.more {
  position: absolute;
  top: 190px;
  right: 30px;
}
/* 第三个新闻 */
.younew3 {
  position: absolute;
  right: 20px;
  top: 590px;
  width: 305px;
  height: 216px;
  background: url(../images/backgroundyouce.jpg) no-repeat;
}
.younew3 .younewtubiao {
  position: absolute;
  left: 15px;
  top: 33px;
  background-image: url(../images/new.ico);
  background-position: -88px -37px;
  width: 30px;
  height: 30px;
}
.younew3 h3 {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #03345f;
}
/* 第一条文字 */
.iconyousj {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 84px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep {
  position: absolute;
  top: 85px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第二条文字 */
.iconyousj1 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 110px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep1 {
  position: absolute;
  top: 110px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第三条文字 */
.iconyousj2 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 135px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep2 {
  position: absolute;
  top: 135px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
/* 第四条文字 */
.iconyousj3 {
  position: absolute;
  background: url(../images/new.ico);
  background-position: -137px -140px;
  top: 160px;
  left: 15px;
  width: 12px;
  height: 10px;
}
.sleep3 {
  position: absolute;
  top: 160px;
  left: 30px;
  color: #5b4b38;
  font-size: 12px;
}
.more {
  position: absolute;
  top: 190px;
  right: 30px;
}
/* 子模块 */
.subModule {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  /* height: 66px; */
  min-height: 52px;
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule .guide {
  position: absolute;
  top: -10px;
  right: 8px;
  width: 66px;
  height: 66px;
  background: url(../images/dianbuback.png);
  background-position: 156px -279px;
}
.subModule .guide:hover {
  background-position-y: -380px;
}
/* 第二个子模块 */
.subModule2 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule2 .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule2 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule2 .guide2 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -780px;
}
.subModule2 .guide2:hover {
  background-position: 163px -903px;
}
.subModule2 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第三个子模块 */
.subModule3 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule3 .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule3 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule3 .guide3 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -1027px;
}
.subModule3 .guide3:hover {
  background-position: 163px -1030px;
}
.subModule3 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第四个子模块 */
.subModule4 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  /* height: 66px; */
  min-height: 52px;
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule4 .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule4 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule4 .guide4 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -2186px;
}
.subModule4 .guide4:hover {
  background-position: 163px -2287px;
}
.subModule4 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第五个子模块 */
.subModule5 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule5 .text {
  position: absolute;
  top: 25px;
  left: 15px;
}
.subModule5 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule5 .guide5 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -1128px;
}
.subModule5 .guide5:hover {
  background-position: 163px -1243px;
}
.subModule5 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第六个子模块 */
.subModule6 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule6 .text {
  position: absolute;
  top: 25px;
  left: 15px;
}
.subModule6 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule6 .guide6 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -1646px;
}
.subModule6 .guide6:hover {
  background-position: 163px -1735px;
}
.subModule6 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第七个个子模块 */
.subModule7 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule7 .text {
  position: absolute;
  top: 25px;
  left: 15px;
}
.subModule7 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule7 .guide7 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -2050px;
}
.subModule7 .guide7:hover {
  background-position: 163px -2053px;
}
.subModule7 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第8个个子模块 */
.subModule8 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule8 .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule8 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule8 .guide8 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -521px;
}
.subModule8 .guide8:hover {
  background-position: 163px -621px;
}
.subModule8 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第9个个子模块 */
.subModule9 {
  position: absolute;
  top: 830px;
  left: 0;
  width: 260px;
  height: 66px;
  /* min-height: 52px; */
  margin: 10px auto;
  border-radius: 3px;
  background: #d1b181;
  position: relative;
  border: 1px solid #efd4ad;
}
.subModule9 .text {
  position: absolute;
  top: 15px;
  left: 15px;
}
.subModule9 .text h4 {
  color: #251c0f;
  font-size: 15px;
  font-weight: 700;
}
.subModule9 .guide9 {
  position: absolute;
  top: -7px;
  right: 6px;
  width: 72px;
  height: 75px;
  background: url(../images/dianbuback.png);
  background-position: 163px -1353px;
}
.subModule9 .guide9:hover {
  background-position: 163px -1441px;
}
.subModule9 .text .wangzhi {
  color: #66563d;
  font-size: 14px;
  font-weight: 700;
}
/* 第4个新闻 */
.younew4 {
  z-index: 500;
  position: absolute;
  right: 20px;
  top: 1530px;
  width: 305px;
  height: 216px;
  background: url(../images/backgroundyouce.jpg) no-repeat;
}
.younew4 .younewtubiao {
  position: absolute;
  left: 15px;
  top: 33px;
  background-image: url(../images/new.ico);
  background-position: -4px -186px;
  width: 30px;
  height: 30px;
}
.younew4 h3 {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  color: #03345f;
}
/* 服务 */
.weixin-ico {
  position: absolute;
  left: 10px;
  top: 61px;
  transition: background-position 0.3s;
  width: 40px;
  height: 42px;
  float: left;
  display: block;
  background: url(../images/weixinxiaotubiao.png) no-repeat 0 0;
  background-position: -372px 7px;
}
.weixin-ico:hover {
  background-position: -372px -52px;
}
.weixin-ico1 {
  position: absolute;
  top: 70px;
  left: 55px;
  font-size: 14px;
  color: #251c0f;
}
.weixin-ico1:hover {
  color: #f2743e;
}
.weixin-ico3:hover {
  color: #3d8403;
}
.weixin-ico2 {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 50px;
  color: #3d8403;
}
.weixin-ico3 {
  position: absolute;
  top: 90px;
  left: 55px;
  font-size: 14px;
  color: #251c0f;
}
.weixin-ico4 {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 50px;
  color: #f2743e;
}
.weixin-ico5 {
  position: absolute;
  left: 150px;
  top: 61px;
  transition: background-position 0.3s;
  width: 40px;
  height: 42px;
  float: left;
  display: block;
  background: url(../images/weixinxiaotubiao.png) no-repeat 0 0;
  background-position: -205px 7px;
}
.weixin-ico5:hover {
  background-position: -205px -52px;
}
.weixin-ico7:hover {
  background-position: -457px -52px;
}
.weixin-ico6 {
  position: absolute;
  top: 80px;
  left: 195px;
  font-size: 14px;
  color: #251c0f;
}
.weixin-ico6:hover {
  color: #f2743e;
}
.weixin-ico7 {
  position: absolute;
  left: 11px;
  top: 130px;
  transition: background-position 0.3s;
  width: 40px;
  height: 42px;
  float: left;
  display: block;
  background: url(../images/weixinxiaotubiao.png) no-repeat 0 0;
  background-position: -457px 7px;
}
.weixin-ico8 {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 14px;
  color: #251c0f;
}
.weixin-ico8:hover {
  color: #f2743e;
}
.youxiang {
  position: absolute;
  top: 220px;
  left: 15px;
}
.youxiang h4 {
  margin-top: 10px;
  color: #251c0f;
}
.phone h4 {
  margin-top: 10px;
  color: #251c0f;
}
.youxiangbiao {
  color: #251c0f;
  font-size: 14px;
}
.phone {
  position: absolute;
  top: 220px;
  left: 160px;
}
.phonebiaoti {
  color: #251c0f;
  font-size: 14px;
}
.phone img {
  position: absolute;
  top: 100px;
  left: -175px;
}
/* 手风琴 */
.Navbar-modalContent {
  background-color: #151922;
  width: 1900px;
  height: 210px;
  z-index: 1;
  position: fixed;
  display: none;
}
.Navbar-modalContent a {
  position: absolute;
  float: left;
  width: 150px;
  height: 180px;
  animation-name: Navbar-dropdown-drop-in-delayed;
  animation-duration: 0.6s;
}
.Navbar-modalContent a img {
  position: absolute;
  float: left;
  width: 160px;
  height: 180px;
  margin-left: 20px;
}
.Navbar-modalContent .nav1 {
  position: absolute;
  top: 0;
  left: 170px;
  animation-delay: -400ms;
}
.Navbar-modalContent .nav2 {
  position: absolute;
  top: 0;
  left: 350px;
  animation-delay: -350ms;
}
.Navbar-modalContent .nav3 {
  position: absolute;
  top: 0;
  left: 530px;
  animation-delay: -300ms;
}
.Navbar-modalContent .nav4 {
  position: absolute;
  top: 0;
  left: 710px;
  animation-delay: -250ms;
}
.Navbar-modalContent .nav5 {
  position: absolute;
  top: 0;
  left: 890px;
  animation-delay: -200ms;
}
.Navbar-modalContent .nav6 {
  position: absolute;
  top: 0;
  left: 1070px;
  animation-delay: -150ms;
}
.Navbar-modalContent .nav7 {
  position: absolute;
  top: 0;
  left: 1250px;
  animation-delay: -100ms;
}
.Navbar-modalContent .nav8 {
  position: absolute;
  top: 0;
  left: 1430px;
  animation-delay: -50ms;
}
.Navbar-modalContent .nav9 {
  position: absolute;
  top: 0;
  left: 1610px;
  animation-delay: -0s;
}
@keyframes Navbar-dropdown-drop-in-delayed {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  66.66667% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 第二个手风琴 */
/* .Navebar-modalContent {
  background-color: #151922;
  width: 1900px;
  height: 327px;
  z-index: 1;
  position: fixed;
  display: none;
}
.accordion {
  position: absolute;
  width: 194px;
  height: 275px;
}
.accordion1 {
  float: left;
  width: 194px;
  height: 275px;
} */
